<%= form_for @employee  do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name, class: 'form-control' %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :employee_surname, class: 'form-control' %>
  </div>

  <div class="form-group" id="employee_rates">
    <%= form.fields_for :employee_rates do |er| %>
        <%= render 'employee_rate_fields', f: er %>
    <% end %>
    <%= link_to_add_association 'Add rate', form, :employee_rates %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
