<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p>
<p>
  <strong>Rates</strong><br>
  <% @employee.rates.each do |r| %>
    <%= r.rate %>
      <br>
  <% end %>
</p>
<%= link_to 'New', new_employee_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-primary' %> |
<%= link_to 'Back', employees_path, class: 'btn btn-primary' %>
