<%= form_with(model: work_shift, local: true) do |form| %>
  <% if work_shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_shift.errors.count, "error") %> prohibited this work_shift from being saved:</h2>

      <ul>
      <% work_shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
      <%= form.label :employee_id, class: "col-md-5" %>

      <%= form.label :rate_id, class: "col-md-1" %>

      <%= form.label :location_id, class: "col-md-6" %>

      <%= form.collection_select :employee_id, Employee.all, :id, :name, {}, {class: "form-control col-md-5"} %>
      <%= form.collection_select :rate_id, Rate.all, :id, :rate, {}, {class: "form-control col-md-1"} %>
      <%= form.collection_select :location_id, Location.all, :id, :name, {}, {class: "form-control col-md-6"} %>

  </div>
  <div class="form-group row">
    <%= form.label :memo %>
    <%= form.text_field :memo, class: "form-control" %>
  </div>
  <div class="form-group row">
      <%= form.label :start_time, class: "col-md-6" %>
      <%= form.label :end_time, class: "col-md-6" %>
      <div class="col-md-6">
        <div class="row">
          <%= form.datetime_select :start_time,{}, {id: :work_shift_start_time, class: "form-control col-md-2"} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <%= form.datetime_select :end_time,{}, {id: :work_shift_end_time, class: "form-control col-md-2"} %>
        </div>
      </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
