<%= form_with(model: work_shift, local: true) do |form| %>
    <% if work_shift.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(work_shift.errors.count, "error") %> prohibited this work_shift from being saved:</h2>

          <ul>
            <% work_shift.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <table class="table">
      <thead class="thead-default">
      <tr>
        <th>Employee</th>
        <th>Rate</th>
        <th>Location</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Remove</th>
      </tr>
      </thead>

      <tbody>
      <%= form.fields_for :work_shifts, @work_shift do |ws|%>
          <%= render 'work_shift_fields', f: ws %>
      <% end %>
      </tbody>
    </table>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>