<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @work_shift.employee.name %>
</p>

<p>
  <strong>Rate id integer:</strong>
  <%= @work_shift.rate.rate %>
</p>

<p>
  <strong>Location:</strong>
  <%= @work_shift.location.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @work_shift.start_time.to_formatted_s(:short) %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work_shift.end_time.to_formatted_s(:short) %>
</p>

<%= link_to 'New', new_work_shift_path, class: 'btn btn-primary' %> |
<%= link_to 'Edit', edit_work_shift_path(@work_shift), class: 'btn btn-primary' %> |
<%= link_to 'Back', work_shifts_path, class: 'btn btn-primary' %>
