<h1>Reports</h1>
<h2>Employees Total</h2>
<%= render 'form_em_total' %>
<h2>Employees Detail</h2>
<%= render 'form_em_detail' %>
<h2>Employee Detail</h2>
<%= render 'form_emid_detail' %>
<h2>Employees Detail with memo</h2>
<%= render 'form_em_detail_memo' %>
<h2>Locations Detail</h2>
<%= render 'form_location_detail' %>
<h2>Location Detail</h2>
<%= render 'form_location_id_detail' %>
<h2>Location Employee Detail</h2>
<%= render 'form_location_em_detail' %>
